* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: #121212;
}

body h1 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
}

body h2 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

body p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.App {
  display: flex;
  justify-content: center;
}

.main {
  /* width: 61vw; */
  color: white;
  margin-top: 15px;
}