form {
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 56px;
}

form input {

    flex: 1;
    height: 95%;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    border: black solid;
}

form input:focus {
    outline: none;
}

form ::placeholder {
    font-size: 17px;
    color: grey;
    margin-bottom: 0;
}

input {
    font-size: 18px;
    letter-spacing: 0.8px;
    color: black;
    margin-bottom: 0;

}

/* css variables */
/* dark mode */
.search-icon .MuiSvgIcon-root {
    font-size: 35px;
}

button {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background: linear-gradient(30deg, #fc4584 6%, #fc4562 66%, #fca345 92%);
    height: 97%;
    width: 60px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}